<div class="container-fluid-xl">
    <app-titlebar></app-titlebar>

    <div class="wrapper d-flex align-items-stretch">
        <app-sidebar></app-sidebar>
        <div class="container-fluid mt-3 ml-3">

            <router-outlet></router-outlet>
            
        </div>
    </div>

    <!-- <section class="main-container" >
    
            </section> -->
    <div class="container-fluid-xl">
        <div class="footer">
            <app-footer></app-footer>

        </div>
    </div>
</div>