<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4caf4c;">
    <img class="img-profile rounded-circle" src="../../assets/img/Public_Health_of_Thailand.png" style="width: 40px;">
    <a class="navbar-brand ml-2" [routerLink]="['/']" routerLinkActive="router-link-active"
        style=" font-size:20px">Korat Health Durable</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-primary btn-sm " [routerLink]="['/dashboard']"
                routerLinkActive="router-link-active"> Dashboard </button>
        </form>
    </div>
</nav>




<mat-card class="container">

    <img class="rounded mx-auto d-block mat-card-image" src="../../assets/img/ministry of pubilc health.png"
        style="width: 23%">
    <mat-card-title class="textstyle">
        <b>ระบบบริหารจัดการครุภัณฑ์สำนักงานสาธารณสุขจังหวัดนครราชสีมา</b><br>
        <div class="title-eng"> Korat Health Office Durable Management System </div>
    </mat-card-title>

    <mat-card-content>
        <mat-form-field>
            <mat-label>ชื่อผู้ใช้</mat-label>
            <input [(ngModel)]="userData.username" matInput="username" type="text" required
                (keyup.enter)="checkLogin()" />
            <mat-icon matSuffix color="primary">account_box</mat-icon>
        </mat-form-field>
    </mat-card-content>

    <mat-card-content>
        <mat-form-field>
            <mat-label>รหัสผ่าน</mat-label>
            <input [(ngModel)]="userData.password" matInput="username" type="password" (keyup.enter)="checkLogin() " >
            <mat-icon matSuffix color="primary">lock</mat-icon>
        </mat-form-field>
    </mat-card-content>

    <mat-card-content>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class='form-control' mat-flat-button color="primary" (click)="checkLogin() ">
                    เข้าสู่ระบบ
                </button>
            </div>
            <div class="w-100">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class='form-control' mat-flat-button color="primary" [routerLink]="['/register']"
                    routerLinkActive="router-link-active">
                    สมัครสมาชิก
                </button>
            </div>
        </div>
    </mat-card-content>

    <mat-card-footer>
        สำนักงานสาธารณสุขจังหวัดนครราชสีมา
    </mat-card-footer>

</mat-card>